.warning {
    @apply bg-red-100 border-l-4 margin-t-100 border-yellow-500 text-yellow-700 p-4;
    font-weight: bold;
  }
.danger {
    @apply bg-red-100 border-l-4 margin-t-100 border-red-500 text-red-700 p-4;
    font-weight: bold;
  }
.important {
    @apply bg-red-100 border-l-4 margin-t-100 border-blue-500 text-blue-700 p-4;
    font-weight: bold;
  }
.information {
    @apply bg-red-100 border-l-4 margin-t-100 border-green-500 text-green-700 p-4;
    font-weight: bold;
  }


  