@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Merriweather:ital,wght@1,300;1,700&display=swap');
:root {
    --slidev-slide-container-background: white;
    --slidev-code-font-size: 1rem;
    --slidev-code-line-height: 1.4;
    --slidev-code-margin: 0;
    --slidev-code-padding: 1em 1em;
    --slidev-code-radius: 0.5em;
    --slidev-controls-foreground: #333;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  

  /**
   * to override
   * - https://github.com/slidevjs/slidev/blob/v0.42.5/packages/client/styles/layouts-base.css
   * - https://github.com/slidevjs/themes/blob/@slidev/theme-default@v0.21.2/packages/theme-default/styles/layouts.css
   */
  .slidev-layout {
    /* @apply px-17.5 py-10 w-full h-full overflow-hidden; */
    @apply flex flex-col justify-center items-center place-self-center;
    /* @apply font-light text-[40px] leading-[1.6]; */
  
    --font-family: "Inter", "Roboto", sans-serif;
    --code-font-family: "Roboto Mono", "Fira Code", "PT Mono", Menlo, monospace;
    --quote-font-family: "Merriweather", serif;
    font-family: var(--font-family);
    font-feature-settings: 'calt', 'liga', 'case', 'ss02', 'ss03';
    font-size: 1.2rem;
    line-height: normal;
    
    p{
      line-height: normal;
    }
    blockquote {
      @apply text-[#555] border-l-4 border-[#ddd] pl-4 my-4;
      font-family: var(--quote-font-family);
      font-size: smaller;
      line-height: normal;
      font-weight: 300;
      font-style: italic;
      color: #555;
      margin: 1.5em 0;
      padding: 0.5em 1em;
      border-left: 0.25em solid #ddd;
      border-radius: 0.25em;
      background: #f5f5f5;
    }


     h1 { @apply text-[70px] leading-[1.4] }
     h2 { @apply text-4xl leading-[1.4] }
     h3 { @apply text-3xl leading-[1.4] }
     h4 { @apply text-2xl leading-[1.6] }
     h5 { @apply text-[20px] leading-[1.6] }

     h1, h2, h3, h4, h5, h6 {
      @apply font-bold mx-0;
      letter-spacing: -0.01em;
      margin-bottom: 0.8em;
      margin-top: 0.2em;
      font-family: var(--font-family);
    }
  }
  
  p, img {
    @apply max-w-full max-h-full;
  }
  
  

  .dark {
    --slidev-controls-foreground: #ccc;
  
    #slide-content {
      background-color: var(--slidev-slide-container-background);
    }
  
    #slide-container {
      --slidev-slide-container-background: black;
    }
  
    .slidev-layout {
      kbd {
        @apply text-gray-300;
        background: hsl(220, 13%, 16%);
      }
  
      a, a:hover {
        @apply text-[#49f];
      }
    }
  }

